<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <section class="example-section">
    <mat-slide-toggle
      (click)="toggleTheme()"
      class="example-margin"
      [checked]="checked"
      [disabled]="disabled"
    >
    </mat-slide-toggle>
    <button mat-icon-button>
      @if (themeS.themeSignal() === "dark"){
      <mat-icon class="mat-18">bedtime</mat-icon>
      } @else{
      <mat-icon class="mat-18">sunny</mat-icon>
      }
    </button>
  </section>
</mat-toolbar>
